In [1]:
empty_dict={}
print(type(empty_dict))

<class 'dict'>

In [2]:
student={"name":"karthik","age":"29"}
print(student)

{'name': 'karthik', 'age': '29'}

In [3]:
student={"name":"karthik","age":"29","rank":"a"}
print(student)

{'name': 'karthik', 'age': '29', 'rank': 'a'}

In [4]:
print(student['rank'])

a

In [5]:
print(student.get('rank'))
print(student.get('last_name'))
print(student.get('last_name',"not available"))

a
None
not available

In [6]:
print(student)

{'name': 'karthik', 'age': '29', 'rank': 'a'}

In [8]:
student["age"]=30
print(student)
student["address"]="kerala"
print(student)

{'name': 'karthik', 'age': 30, 'rank': 'a'}
{'name': 'karthik', 'age': 30, 'rank': 'a', 'address': 'kerala'}

In [9]:
del student['rank']
print(student)

{'name': 'karthik', 'age': 30, 'address': 'kerala'}

In [10]:
keys=student.keys()
print(keys)
values=student.values()
print(values)

items=student.items()
print(items)

dict_keys(['name', 'age', 'address'])
dict_values(['karthik', 30, 'kerala'])
dict_items([('name', 'karthik'), ('age', 30), ('address', 'kerala')])

In [11]:
student_copy=student
print(student)
print(student)

{'name': 'karthik', 'age': 30, 'address': 'kerala'}
{'name': 'karthik', 'age': 30, 'address': 'kerala'}

In [12]:
student["name"]="prabhu"
print(student)
print(student_copy)

{'name': 'prabhu', 'age': 30, 'address': 'kerala'}
{'name': 'prabhu', 'age': 30, 'address': 'kerala'}

In [13]:
student_copy1=student.copy()
print(student_copy1)
print(student)

{'name': 'prabhu', 'age': 30, 'address': 'kerala'}
{'name': 'prabhu', 'age': 30, 'address': 'kerala'}

In [14]:
student["name"]="aparna"
print(student_copy1)
print(student)

{'name': 'prabhu', 'age': 30, 'address': 'kerala'}
{'name': 'aparna', 'age': 30, 'address': 'kerala'}

In [15]:
for keys in student.keys():
    print(keys)

name
age
address

In [17]:
for values in student.values():
    print(values)

aparna
30
kerala

In [18]:
for key,value in student.items():
    print(f"{key}:{value}")

name:aparna
age:30
address:kerala

In [19]:
students={
    "student1":{"name":"karthik","age":"29"},
    "student2":{"name":"prabhu","age":"30"}
}
print(students)

{'student1': {'name': 'karthik', 'age': '29'}, 'student2': {'name': 'prabhu', 'age': '30'}}

In [20]:
print(students)

{'student1': {'name': 'karthik', 'age': '29'}, 'student2': {'name': 'prabhu', 'age': '30'}}

In [22]:
print(students["student2"]["name"])
print(students["student2"]["age"])

prabhu
30

In [23]:
for student_id,student_info in students.items():
    print(f"{student_id}:{student_info}")
    for key,value in student_info.items():
        print(f"{key}:{value}")

student1:{'name': 'karthik', 'age': '29'}
name:karthik
age:29
student2:{'name': 'prabhu', 'age': '30'}
name:prabhu
age:30

In [24]:
squares={x:x**2 for x in range(5)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [ ]:

print(evens)evens={x:x**2 for x in range(10) if x%2==0}

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [26]:
evens={x:x**2 for x in range(10)}
print(evens)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [32]:
odds={x:x**3 for x in range(10) if x%3==1}
print(odds)

{1: 1, 4: 64, 7: 343}

In [31]:
odds={x:x**3 for x in range(10) if x%3==2}
print(odds)

{2: 8, 5: 125, 8: 512}

In [33]:
numbers=[1,2,2,3,3,3,4,4,4,4]
frequency={}
for number in numbers:
    if number in frequency:
        frequency[number]+=1

    else:
        frequency[number]=1
print(frequency)

{1: 1, 2: 2, 3: 3, 4: 4}

In [35]:
dict1={"a":1,"b":2}
dict2={"c":3,"d":4}
merge_dict={**dict1,**dict2}
print(merge_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}