In [1]:
lst=[]
print(type(lst))

<class 'list'>

In [2]:
names=["karthik","prabhu",1,2]
print(names)

['karthik', 'prabhu', 1, 2]

In [4]:
mixed_lst=[1,"karthik",5.11,True]
print(mixed_lst)

[1, 'karthik', 5.11, True]

In [5]:
fruits=["apple","orange","pomo","musk"]

In [6]:
fruits[0]

'apple'

In [7]:
print(fruits[3])

musk

In [8]:
print(fruits[0:])

['apple', 'orange', 'pomo', 'musk']

In [9]:
print(fruits[0:2])

['apple', 'orange']

In [10]:
fruits[2]="cherry"
print(fruits)

['apple', 'orange', 'cherry', 'musk']

In [11]:
for fruits in fruits:
    print(fruits)

apple
orange
cherry
musk

In [8]:
numbers=[1,2,3,4,5,6,7,8]
print(numbers[1:3])
print(numbers[4:8])
print(numbers[:4])
print(numbers[::-1])
print(numbers[::3])

[2, 3]
[5, 6, 7, 8]
[1, 2, 3, 4]
[8, 7, 6, 5, 4, 3, 2, 1]
[1, 4, 7]

In [9]:
for number in numbers:
    print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]

In [11]:
for index,numbers in enumerate(numbers):
    print(index,numbers)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8

In [4]:
lst=[]
for x in range(8):
    lst.append(x**2)

print(lst)

[0, 1, 4, 9, 16, 25, 36, 49]

In [12]:
square=[num**2 for num in range (8)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49]

In [14]:
for i in range(8):
    if i%2==0:
        lst.append(i)
    
    print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 0]
[0, 1, 4, 9, 16, 25, 36, 49, 0]
[0, 1, 4, 9, 16, 25, 36, 49, 0, 2]
[0, 1, 4, 9, 16, 25, 36, 49, 0, 2]
[0, 1, 4, 9, 16, 25, 36, 49, 0, 2, 4]
[0, 1, 4, 9, 16, 25, 36, 49, 0, 2, 4]
[0, 1, 4, 9, 16, 25, 36, 49, 0, 2, 4, 6]
[0, 1, 4, 9, 16, 25, 36, 49, 0, 2, 4, 6]

In [17]:
even_numbers=[num for num in range(8) if num%2==0]
print(even_numbers)

[0, 2, 4, 6]

In [19]:
lst1=[1,2,3,4]
lst2=['a','b','c','d']

pair=[(i,j) for i in lst1 for j in lst2]
print(pair)

[(1, 'a'), (1, 'b'), (1, 'c'), (1, 'd'), (2, 'a'), (2, 'b'), (2, 'c'), (2, 'd'), (3, 'a'), (3, 'b'), (3, 'c'), (3, 'd'), (4, 'a'), (4, 'b'), (4, 'c'), (4, 'd')]

In [22]:
words = ["hello","world","python","list","cpmprehension"]
lengths = [len(word) for word in words]
print(lengths)

[5, 5, 6, 4, 13]

In [23]:
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [24]:
lst

[0, 1, 4, 9, 16, 25, 36, 49, 0, 2, 4, 6]

In [25]:
lst=list()
print(type(lst))
tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [26]:
numbers=tuple([1,2,3,4,5,6])
numbers

(1, 2, 3, 4, 5, 6)

In [28]:
list((1,2,3,4,5,6))

[1, 2, 3, 4, 5, 6]

In [30]:
mixed_tuple=(1,"Helloworld",5.11, True)
print(mixed_tuple)

(1, 'Helloworld', 5.11, True)

In [31]:
numbers

(1, 2, 3, 4, 5, 6)

In [33]:
numbers[0]

1

In [34]:
print(numbers[2])
print(numbers[-1])

3
6

In [35]:
numbers[0:4]

(1, 2, 3, 4)

In [1]:
concatenation_tuple=numbers + mixed_tuple
print(concatenation_tuple)

NameError: name 'numbers' is not defined

In [38]:
numbers *3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [39]:
packed_tuple=1, "hello" , 5.11
print(packed_tuple)

(1, 'hello', 5.11)

In [40]:
a,b,c=packed_tuple
print(a)
print(b)
print(c)

1
hello
5.11